{% extends 'base.html' %}
{% load static %}

{% block title %}
Smart Finance - ativos
{% endblock %}

{% block content %}
<header>
    <div class="header-assets">
        <img src="{% static 'images/logo.svg' %}" alt="logo do site" />
        <div class="name">Smart Finance</div>
        <nav>
            <ul>
                <li>Sobre nós</li>
                <li>Suporte</li>
                <li>Termos de uso</li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="infos">
        <h3>Ativos com informações disponíveis para compra ou venda:</h3>
    </div>
    <div class="assets">
        {% for symbol, recommendation in recommendations_list %}
            <div class="asset">
                <h3>{{ symbol }}</h3>
                <p id="price">{{ recommendation }}</p>
            </div>
        {% endfor %}
        
    </div>
</main>
{% endblock %}
